@import '../../sass/variables';

.albumList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 2rem;
}

.albumItem {
  border: 1px solid rgba($color-dark, .2);
}

.albumPhoto {
  width: 100%;
  height: auto;
}

.caption {
  height: 13rem;
  padding: 1rem;
  text-align: center;
  color: $color-dark;
}

.link {
  text-decoration: none;
}