@import '../../sass/variables';
.spinner {
  border: 16px solid $color-white-2;
  border-top: 16px solid $color-primary;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 46%;
  left: 50%;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg) }
  100% { transform: translate(-50%, -50%) rotate(360deg) }
}