
$footer-background: #fccb90;
$footer-text-color: #ffffff;

.footer {
  // Adjust or remove padding styles as needed
  padding: 0;
  width: 100%;

  background-color: $footer-background;
  color: $footer-text-color;

  .logo-container {
    display: flex;
    align-items: center; // Align items vertically
  }

  img {
    margin-right: 10px; // Add margin to separate image from text
  }
}
